
.container-fluid {
  max-width: 800px !important;
  margin: 0 auto; /* Centra la página */
  padding: 20px;
}
.shiny-input-container {
  width: 100% !important;
}
@keyframes pulse {
  0%   {transform: scale(1);}
  50%  {transform: scale(1.1);}
  100% {transform: scale(1);}
}
.pulse {
  animation: pulse 0.5s infinite;
}